<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="landingpage.css">
</head>
<style>
    body {
        background-color: dodgerblue;
    }
</style>
<body>
    <div id="header">Welcome to the Github's user's repositories provider!</div>
    <div class="subheaderOne">Please, provide the name of the Github's user whose repositories you're interested in.</div>
    <div class="subheaderTwo">Then, choose whether you'd like to see the list of them or see the total number of stars they have!</div>
        <form action="/getAUser" method="post">
            <input class="input" type="text" name="username" placeholder="Username">
            <input type="submit" value="List user's repos.">
            <input type="submit" formaction="/getTheStarsCount" value="Sum the stars.">
        </form>
</body>
</html>